@import "normalize";

html {width: 100%; height: 100%; font-size: 12px;}
body { 
    font-family: 'VT323', Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    position: relative;
}

h1 {
    margin: 0;
    font-weight: normal; 
    position: fixed; 
    bottom: 0; 
    left: 0;
    display: none;
}

h2, h3 {margin: 0.25rem 0;}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    // color: white;
    // background: black;
    padding: 0 0.25em 0.1em 0.25em;

    &:hover {
        color: white;
        background: black;
    }
    color: black;
}

button {
    background: transparent;
    border: 3px solid white;
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 0.25em 0.5em 0.25em 0.5em;

    &:hover {
        background: white;
        border-color: black;
        color: black;
    }
    &:focus {
        outline: none;
    }
}

img {display: none;}

#exhibit {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2rem 2rem;

    a {
        display: inline-block;
        margin-bottom: 0.75rem;
    }
}

#loading {
    display: none;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 2rem;

    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

.right {
    float: right;
    clear: right;
}


body.is-loading {
    text-align: center;
    background: white !important;

    #loading {display: block;}

    #exhibit {
        right: auto;
        bottom: auto;
        left: 50%;
        top: 40%;
        margin: 0;

        -webkit-transform: translateX(-50%);
           -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
             -o-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    #next {display: none;}
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  from {
    -o-transform: rotate(0deg);
  }

  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}