doctype html
html(lang="en")
  head
    title GIFSTORM.biz
    link(rel="stylesheet", href="./build/css/gifstorm.css")
  body
    h1: a(href="http://gifstorm.biz") GIFSTORM.biz
    script(type="text/javascript", src="./build/js/gifstorm.js")