doctype html
html(lang="en")
  head
    title GIFSTORM.biz
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=VT323')
    link(rel="stylesheet", type='text/css', href="./build/css/gifstorm.css")
  body
    h1: a(href="http://gifstorm.biz") GIFSTORM.biz
    #exhibit
      a#source.right(href="#")
        h2#title.right
        h3#artist.right
      button#next.right() Next

    script(type="text/javascript", src="./build/js/gifstorm.js")